<footer class="nov-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="nov-solo-footer">
                    <h4>About Novitious</h4>
                    <p>Novitious was founded,to help its clients establish the right strategic partnerships for their innovations.</p>
                    <a href="/" class="footer_logo"><img src="/img/navbar-logo.png"></a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nov-solo-footer">
                    <h4>Contact</h4>
                    <p>Address : 1629 K Street, NW Ste. 300 Washington,DC 20006</p>
                    <p>Phone : 202-384-2928</p>
                    <p>E-mail : carena@novitious.net</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nov-solo-footer">
                    <h4>Link</h4>
                    <ul class="nov-list-no-format">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>