<footer class="nov-footer bg-dark">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="nov-solo-footer text-light">
                    <a href="/">
                    <div style="padding-bottom:20px; margin:0 0 20px 0; width:201px; height:32px;">
                       <img style="margin:0;" src="/img/navbar-logo.png">
                    </div>
                    </a>
                    <p>Novitious was founded,to help its clients establish the right strategic partnerships for their innovations.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nov-solo-footer text-light">
                    <h4>Contact</h4>
                    <p>Address : 1629 K Street, NW Ste. 300 Washington,DC 20006</p>
                    <p>Phone : 202-384-2928</p>
                    <p>E-mail : inquiry@novitious.net</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nov-solo-footer text-light">
                    <h4>Link</h4>
                    <ul class="nov-list-no-format text-light">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
                <div class="nov-copyright-text">
                    <p class="text-light" >Copyright &copy;<script>document.write(new Date().getFullYear());</script> Novitious, LLC. All rights reserved</p>
                </div>
        </div>
    </div>
</footer>