<% var users = system.getAllUsers()%>
<% var user = system.getUserInfo()%>

<div id='cssmenu'>
    <ul>
        <li>
            <a href='/dashboard'>Home</a>
		    <li class="has-sub">
			<span class="submenu-button"></span>
			<a href='#'>Projects</a>
			<ul>
				<li><a href="/projects">My Projects</a></li>
                <%if(user.admin){%>
                    <li><a href="/projects/add">New Project</a></li>
                <%}%>
					<%var projects = user.getProjects()%>
                <%for(var i = 0; i < projects.length; i++){%>
                    <li><a href="/projects/<%= projects[i].getName()%>"><%= projects[i].getName() %></a></li>
                <%}%>
            </ul>
			<li class="has-sub">
			<span class="submenu-button"></span>
			<a href="#">Users</a>
			<ul>
				<%if(user.getAdmin() === true){%>
					<li><a href="/users/invite">Invite User</a></li>
				<%}%>
					<%for(var i=0; i < users.length; i++) {%>
						<%if(!users[i].authCode){%>
							<li><a ><%= users[i].getFullName() %></a></li>
						<%}%>
					<%}%>
			</ul>
        <li>
            <form style = "display:none;" id="logoutForm" method ="post" action="/logout"></form>
			<a id = "logoutAnchor" onclick="document.getElementById('logoutForm').submit()">Log Out</a>
        </li>
    </ul>
</div>
