<!DOCTYPE html>
<html lang="en">
<head>
    <title><%- folderName%>></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include folder_scripts.ejs%>
    <%- include folder_styles.ejs%>
</head>


