<%- include header.ejs%>
            <div class="content">
                <div id="header" style="padding:35px 50px;">
                    <h4>Novitious File System</h4>
                </div>
                <div class="body" style="padding:40px 50px;">
                    <form role="form" method="post">
                        <div class="form-group">
                            <label for="user"><span class="glyphicon glyphicon-user"></span> Email</label>
                            <input type="text" class="form-control" name="email" id="email" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <label for="pass"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" checked>Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                    </form>
                </div>
            </div>
<%- include footer.ejs%>