<%var user = user%>
<% var scripts = scripts %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/scripts/Server.js"></script>
    <% if(user){ %>
         <% if(user.admin){ %>
                <%- include('./adminScripts.ejs')%>
            <% } else{%>
                <%- include('./fileScripts.ejs')%>
            <%}%>
    <% } %>
    <% if(scripts){ %>
        <script src="/scripts/<%= scripts %>"></script>
    <%}%>
</head>




