<div id='cssmenu'>
    <ul>
        <li>
            <a href='/dashboard'>Home</a>
		    <li class="has-sub">
			<span class="submenu-button"></span>
			<a href='#'>Folders</a>
			<ul>
				<% console.log(user.user);%>
                <%if(user.user.admin === true || user.user.folderwrite === true){%>
                    <li><a href="/add/folder">Add New Folder</a></li>
                <%}%>
                <%for(var i = 0; i < user.user.folders.length; i++){%>
                    <li><a href="/folder/<%= user.user.folders[i].name%>"><%= user.user.folders[i].name %></a></li>
                <%}%>
            </ul>
			<li class="has-sub">
			<span class="submenu-button"></span>
			<a href="#">Users</a>
			<ul>
				<%if(user.user.admin === true){%>
					<li><a href="/add/user">Add New User</a></li>
				<%}%>
					<%for(var i=0; i < user.userRepo.users.length; i++) {%>
						<li><a ><%= user.userRepo.users[i].firstname +' '+user.userRepo.users[i].lastname %></a></li>
					<%}%>
			</ul>
        <li>
            <a href="/logout">Log Out</a>
        </li>
    </ul>
</div>
