<div id='cssmenu'>
    <ul>
        <li>
            <a href='/dashboard'>Home</a>
        </li>
        
            <li class="has-sub">
			<span class="submenu-button"></span>
			 <a href='#'>Folders</a>
			<ul>
                <%if(user.admin === true || user.folderwrite === true){%>
                    <li><a href="/add/folder">Add New Folder</a></li>
                <%}%>
                <%for(var i = 0; i < folders.length; i++){%>
                    <li><a href="/folder/<%= folders[i].name%>"><%= folders[i].name %></a></li>
                <%}%>
            </ul>
</li>       
	
			<li class="has-sub">
			<span class="submenu-button"></span>
			<a href="#">
				Users
			</a>
			<ul>
				<%if(user.admin === true){%>
					<li><a >Add New User</a></li>
					<% for(var i=0; i < users.length; i++) {%>
						<li><a ><%= users[i].firstname +' '+users[i].lastname %></a></li>
					<%}%>
				<%}%>
			</ul>
		</li>
        <li>
            <a href="/logout">Log Out</a>
        </li>
    </ul>
</div>
