<div class="modal fade center-modal" id="modal" role="dialog">
    <div class="modal-dialog">
        <div  class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <h4 id="modalTitle" class="bg-dark center"></h4>
                <button type="button" class="close " onclick="modalFunctions.hide()">&times;</button>
            </div>
            <div id="modalBody" class="modal-body" style="padding:40px 50px;">
            </div>
            <div id="modalFooter" class="modal-footer">
            </div>
        </div>
    </div>
</div>


