<div class="container">
    <div class="modal fade" id="modal">
        <div class=".modal-dialog-centered modal-dialog modal-lg">
            <div id="modalContent" class="modal-content">
            </div>
        </div>
    </div>
</div>

