<%var id;
var name;
    if(user.admin){
        name = project.name;
        id = project.id;
    }else{
        name = project.projectName;
        id = project.projectId;
   }
%>

<nav style="border: 1px solid #343a40;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/projects/project/<%= id%>"><i class="fa fa-archive "></i> Project <%= name %></a>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav">
        </ul>
    </div>
</nav>