<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Sapphire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .modal-header, h4, .close {
            background-color: #5cb85c;
            color:white !important;
            text-align: center;
            font-size: 30px;
        }
    </style>
    <script>
        function validate(){

            let valid = true;

            const password = document.getElementById('password');
            password.style.backgroundColor = "transparent";

            const retype = document.getElementById('retype');
            retype.style.backgroundColor = "transparent";

            const length = RegExp('^.{6,}$');
            const lengthTag = document.getElementById('length');
            lengthTag.style.color = "black";

            const uppercase = RegExp('/*[A-Z]');
            const uppercaseTag = document.getElementById('uppercase');
            uppercaseTag.style.color = "black";

            const lowercase = RegExp('/*[a-z]');
            const lowercaseTag = document.getElementById('lowercase');
            lowercaseTag.style.color = "black";

            const number = RegExp('/*[0-9]');
            const numberTag = document.getElementById('number');
            numberTag.style.color = "black";

            const special = RegExp('[#$@!%&*?]');
            const specialTag = document.getElementById('special');
            specialTag.style.color = "black";


            if(!password.value){
                password.style.backgroundColor = "pink";
                valid = false;
            }
            if(!retype.value){
                retype.style.backgroundColor = "pink";
                valid = false;
            }
            if(!length.test(password.value)){
                lengthTag.style.color = "red";
                valid = false;
            }
            if(!uppercase.test(password.value)){
                uppercaseTag.style.color = "red";
                valid = false;
            }
            if(!lowercase.test(password.value)){
                lowercaseTag.style.color = "red";
                valid = false;
            }
            if(!number.test(password.value)){
                numberTag.style.color = "red";
                valid = false;
            }
            if(!special.test(password.value)){
                specialTag.style.color = "red";
                valid = false;
            }
            if(password.value !== retype.value){
                let error = document.getElementById('passError');
                clearChildren(error);
                password.style.backgroundColor = "pink";
                retype.style.backgroundColor = "pink";
                error.appendChild(document.createTextNode('*Passwords Do Not Match'));
                error.style.color = "red";
                error.style.display = "block";
                valid = false;
            }
            return valid;
        }
        function clearChildren(element){

            while (element.firstChild) {
                element.removeChild(element.firstChild);
            }

        }
    </script>
</head>
<body>

<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <h4><span class="glyphicon glyphicon-lock"></span> Account Creation for <%= firstname%> </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form" onsubmit="return validate()" method="post">
                        <div style="font-size:12px" class="form-group">
                            <p><b>Password Must Contain:</b></p>
                            <p id="length">At least 6 Characters </p>
                            <p id="uppercase">One Upper Case Alphabetic(e.g., A-Z)</p>
                            <p id="lowercase">One Lower Case Alphabetic(e.g., a-z)</p>
                            <p id="number">One Numeric (i.e. 0-9)</p>
                            <p id="special">One Special Character (e.g., # $ @ ! % & * ?)</p>
                        </div>
                        <p id="passError" style="display:none; font-size:12px;"></p>
                        <div class="form-group">
                            <label for="password"><span class="glyphicon glyphicon-user"></span> Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="retype"><span class="glyphicon glyphicon-user"></span> Retype Password</label>
                            <input type="password" class="form-control" name="retype" id="retype" placeholder="Retype Password">
                        </div>
                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#myModal").modal();
    });

</script>

</body>
</html>