<div id='cssmenu'>
    <ul>
        <li><a href='#'>Profile</a></li>
        <li><a href='#'>Folders</a>
            <ul>
                <li><a href="/add/folder">New Folder</a></li>
                <% for(var i=0; i<folders.length; i++) {%>
                    <li><%= folders[i].name %></li>
                <% } %>
            </ul>
        </li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</div>
