<%- include('../../include/app/head.ejs',{title:'Novitious Account Creation'})%>
<body>
            <div class="content">
                <div id = "primaryHeader"  style="padding:35px 50px;">
                    <h4 id="primaryH4"><i class="fa fa-address-card" ></i> </span> Account Creation</h4>
                    <h3><%= user.name%> </h3>
                </div>
                <div class="body" style="padding:40px 50px;">
                    <div class = "center form-width">
                    <form role="form" onsubmit="return validate()" method="post">
                        <div style="font-size:12px" class="form-group center align-left">
                            <p><b>Password Must Contain:</b></p>
                            <p id="length">At least 6 Characters </p>
                            <p id="uppercase">One Upper Case Alphabetic(e.g., A-Z)</p>
                            <p id="lowercase">One Lower Case Alphabetic(e.g., a-z)</p>
                            <p id="number">One Numeric (i.e. 0-9)</p>
                            <p id="special">One Special Character (e.g., # $ @ ! % & * ?)</p>
                        </div>
                        <p id="passError" style="display:none; font-size:12px;"></p>
                        <div class="form-group align-left">
                            <label for="phone"><span class="glyphicon glyphicon-user"></span> Phone Number</label>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="1-555-555-555">
                        </div>
                        <div class="form-group align-left">
                            <label for="password"><span class="glyphicon glyphicon-user"></span> Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <div class="form-group align-left">
                            <label for="retype"><span class="glyphicon glyphicon-user"></span> Retype Password</label>
                            <input type="password" class="form-control" name="retype" id="retype" placeholder="Retype Password">
                        </div>
                        <div class="center button-width">
                            <button type="submit" class="btn btn-dark btn-block" > Submit</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>

<%- include('../../include/app/foot.ejs')%>