<%- include('../../include/app/head.ejs',{title:'Novitious Account Recovery'})%>
<body>
<div class="content">
    <div id = "primaryHeader"  style="padding:35px 50px;">
        <h4 id="primaryH4"><i class="fa fa-warning" ></i> </span> Account Recovery</h4>
    </div>
    <div class=".modal-dialog-centered modal-dialog modal-lg">
        <div id="forgotLoadingSpinnerContent" class="modal-content">
            <div id="forgotLoadingSpinner" class="modal fade bd-example-modal-sm">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div style="padding:35px 50px;" class="center modal-header">
                            <h6 id="loadingSpinnerText">Recovering Account</h6>
                        </div>
                        <div style="padding:40px 50px;" class="modal-body center text-center">
                            <span id="loadingSrSpan" class="sr-only">Recovering Account</span>
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </div>
                        <div style="padding:35px 50px;" class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div id="recoverySuccessModal" class="modal fade bd-example-modal-sm">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <div  class="center modal-header">
                        <h6 id="recoverySuccessModalText">Account Recovered</h6>
                    </div>
                    <div id="recoverySuccessModalBody" class="modal-body center text-center">
                        <p id="recoverySuccessModalMessage">Your Account Was Successfully recovered. Please Store your password in a safe place</p>
                    </div>
                    <div id="recoverySuccessModalFooter"  class="modal-footer">
                        <button type="button"  onclick="exitRecovery()" class="btn btn-outline-dark btn-block button"><i class="fa fa-power-off"></i> Login</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="body" style="padding:40px 50px;">
        <div class = "center form-width">
                <div style="font-size:12px" class="form-group center align-left">
                    <p><b>Password Must Contain:</b></p>
                    <p id="length">At least 6 Characters </p>
                    <p id="uppercase">One Upper Case Alphabetic(e.g., A-Z)</p>
                    <p id="lowercase">One Lower Case Alphabetic(e.g., a-z)</p>
                    <p id="number">One Numeric (i.e. 0-9)</p>
                    <p id="special">One Special Character (e.g., # $ @ ! % & * ?)</p>
                </div>
                <p id="passError" style="display:none; font-size:12px;"></p>
                <div class="form-group align-left">
                    <label for="password"><span class="glyphicon glyphicon-eye"></span> Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-group align-left">
                    <label for="retype"><span class="glyphicon glyphicon-eye"></span> Retype Password</label>
                    <input type="password" class="form-control" name="retype" id="retype" placeholder="Retype Password">
                </div>
                <div class="center button-width">
                    <button type="button" onclick="submitRecoveryPassword()" class="btn btn-dark btn-block" > <i class="fa fa-power-off"></i>Submit</button>
                </div>
        </div>
    </div>
</div>

<%- include('../../include/app/foot.ejs')%>