<!DOCTYPE html>
<html lang="en">
<head>
    <title>Invite User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include invite_user_scripts.ejs%>
    <%- include invite_user_styles.ejs%>
</head>

