<%- include header.ejs%>
<%- include('../include/menu.ejs',{user:user})%>
<div class="content">
    <div id = "header"  style="padding:35px 50px;">
        <h4><span class="glyphicon glyphicon-user"></span> Invite User</h4>
    </div>
    <div class="body" style="padding:40px 50px;">
        <div class = "center-div form-width">
        <form role="form" method="post">
            <div  class="form-group align-left">
                <label for="firstname"><span class="glyphicon glyphicon-user"></span>  First Name</label><br>
                <input type="text" name="firstname" id="firstname" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group align-left">
                <label for="lastname"><span class="glyphicon glyphicon-user"></span> Last Name</label><br>
                <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group align-left">
                <label for="email"><span class="glyphicon glyphicon-envelope"></span> E-mail</label><br>
                <input type="text" name="email" id="email" class="form-control" placeholder="E-mail">
            </div>
            <div class = "form-group align-left">
                <label for="account"><span class="glyphicon glyphicon-cog"></span> Account Type</label><br>
                <select name="account" class="form-control">
                    <option>Read Only</option>
                    <option>Read/Folder Creation</option>
                    <option>Administrator</option>
                </select>
            </div>
            <div class="center-div button-width">
                <button type="submit" class="btn btn-info btn-block"><span class="glyphicon glyphicon-off"></span> Invite User</button>
            </div>
        </form>
            <div>
    </div>
</div>
<%- include footer.ejs%>