<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include dashboard_scripts.ejs%>
    <%- include dashboard_styles.ejs%>
</head>
<body>

