<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload File to <%- folder%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include rename_folder_scripts.ejs%>
    <%- include rename_folder_styles.ejs%>
</head>

