<!DOCTYPE html>
<html lang="en">
<head>
    <title>Folder Added</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include add_folder_success_scripts.ejs%>
    <%- include add_folder_success_styles.ejs%>
</head>

