<div class="container">
    <div class="modal fade" id="modal">
        <div class=".modal-dialog-centered modal-dialog modal-lg">
            <div id="modalContent" class="modal-content">
            </div>
        </div>
    </div>
</div>
<div id="confirmModal" class="modal fade bd-example-modal-sm">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div  class="center modal-header">
                <h6 id="confirmModalHeaderText"></h6>
            </div>
            <div id="confirmModalBody" class="modal-body center text-center">
            </div>
            <div id="confirmModalFooter"  class="modal-footer">
                <button type="button"  onclick="modal.hideConfirmModal()" class="btn btn-outline-dark btn-block button"><i class="fa fa-window-close-o"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="loadingSpinner" class="modal fade bd-example-modal-sm">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div style="padding:35px 50px;" class="center modal-header">
                <h6 id="loadingSpinnerText">Sending Invite</h6>
            </div>
            <div style="padding:40px 50px;" class="modal-body center text-center">
                <span id="loadingSrSpan" class="sr-only">Sending Invite</span>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
            <div style="padding:35px 50px;" class="modal-footer"></div>
        </div>
    </div>
</div>
<div id="progressModal" class="modal fade">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div id="progressContent" style="padding:20px 20px 20px 20px;" class="modal-content">
            <div  class="center modal-header">
                <h6 id="uploadStatusText">Uploading File <span id="fileIndex"></span>/<span id="numFiles"></span></h6>
            </div>
            <div>
                <b>Uploading <span id="fileNameSpan"></span></b>
            </div>
            <div id="fileProgressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0;text-align:center;">
                0%
            </div>
            <br>
            <div>
                <b>Upload Status</b>
            </div>
            <div id="totalProgressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0; text-align:center;">
                0%
            </div>
            <div style="display:none;" id="uploadStatusButton" class="modal-footer text-center">
                <button type="button" onclick="modal.hide()" class="btn btn-outline-dark btn-block button "><i class="fa fa-power-off"></i> Ok</button>
            </div>
        </div>
    </div>
</div>