<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Folder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include add_folder_scripts.ejs%>
    <%- include add_folder_styles.ejs%>
</head>

