#header, h4{
    background-color: #787778;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

#primaryHeader,#welcomeHeader{
    background-color: #343a40;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
#primaryH4{
    background-color: #343a40;
}

.align-left{
    text-align:left;
}
.center-div{
    display:table;
    margin-left:auto;
    margin-right:auto;

}
.form-width{
    width:25%;
}
.button-width{
    width:50%;
}

body{
    padding:0;
    margin:0;
}

tr td:last-child{
    width:1%;
    white-space:nowrap;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .form-width{
        width:100%;
    }
    .button-width{
        width:100%;
    }
    #welcomeHeader{
        display:none;
    }
}