<%- include('./include/page/head.ejs',{title:'Contact'})%>
<body>
<%- include('./include/page/menu.ejs')%>
<section class="nov-breadcrumb nov-contact-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="nov-breadcrumb-inner">
                    <div class="nov-breadcrumb-inner-element">
                        <h2>Contact</h2>
                        <p>Home<span class="fa fa-angle-double-right"></span>Contact</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="nov-board z-index">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-section-title">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h3>Address</h3>
                        <h4>Address : 1629 K Street, NW Ste. 300 Washington,DC 20006</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h3>Phone</h3>
                        <h4>202-384-2928</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h3>E-mail</h3>
                        <h4>carena@novitious.net</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./include/page/foot.ejs')%>
</body>
</html>