<%- include('./include/page/head.ejs',{title:'Frank Grams'})%>
<body>
<%- include('./include/page/menu.ejs')%>
<section class="nov-breadcrumb nov-team-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="nov-breadcrumb-inner">
                    <div class="nov-breadcrumb-inner-element">
                        <h2>Frank Grams</h2>
                        <p>Home<span class="fa fa-angle-double-right"></span>Team<span class="fa fa-angle-double-right"></span>Frank Grams</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="nov-board z-index">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-section-title">
                    <h1>Frank Grams</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4>
                            Entrepreneur with proven track record in driving innovation,
                            organizational change and establishment of new business units
                            (Business Development in Asia, Global Alliance Management,
                            Lifecycle Management Partnering).
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4> Strong Business Development (>100 deals in US, Europe, Asia, incl. In-licensing,
                            Out-licensing, Acquisition, among others) and Alliance Management
                            experience (General Management -like role, but with leadership
                            through the matrix) in international environment. So far resulting into
                            2 products on the market.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4>
                            Risk Management Leader for Strategy & Business Development.
                            Member of Corporate Risk Committee, which reports to the
                            Executive Committee and Board of the company.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4>Experienced Executive in Pharma/Biotech with excellent knowledge
                            of and network in global Biotech/Pharma.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4>
                        Solid R&D background with significant number of high level
                        publications and patents. Hands on experience in People
                        Management, Finance, Legal, Strategy, Sales
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<%- include('./include/page/foot.ejs')%>
</body>
</html>