<%- include('./include/page/head.ejs',{title:'Home'})%>
<body>
<%- include('./include/page/menu.ejs')%>

    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/handshake.jpeg" class="d-block w-100" alt="shaking hands over contract">
                </div>
                <div class="carousel-item">
                    <img src="/img/handshake2.jpeg" class="d-block w-100" alt="man and woman in suits shaking hands">
                </div>
                <div class="carousel-item">
                    <img src="/img/handshake3.jpeg" class="d-block w-100" alt="close up of handshake">
                </div>
            </div>
        </div>
    </div>
<%- include('./include/page/foot.ejs')%>
</body>
</html>