<%- include('./include/head.ejs',{title:'Novitious Login'})%>
<div id="primaryHeader" class="row" style="padding:35px 50px;">
    <div class="center">
        <img src="/img/logo3.png" class='img-fluid col-xs-12'>
    </div>
</div>
<div class="body" style="padding:40px 50px;">
    <div class = "center form-width">
        <p id="accountErr" style="color:red; visibility:visible; font-size:12px;">*Password Incorrect or Account was not found</p>
        <form role="form" method="post">
            <label for="user"><i class="fa fa-envelope"></i> <b>E-mail</b></label>
            <input style="background-color:pink;" oninput="checkInput(this)" value="<%= email%>" type="text" class="form-control" name="email" id="email" placeholder="username@email.com">
            <br>
            <label for="pass"><i class="fa fa-eye"></i> </span> <b>Password</b></label>
            <input style="background-color:pink;" oninput="checkInput(this)" value="<%= password%>" type="password" class="form-control" name="password" id="password" placeholder="password">
            <br>
            <button type="submit" class="btn btn-dark btn-block" ><span class="glyphicon glyphicon-off"></span> Login</button>
        </form>
    </div>
</div>
<%- include('./include/foot.ejs')%>