<%- include('./include/page/head.ejs',{title:'Services'})%>
<body>
<%- include('./include/page/menu.ejs')%>
<section class="nov-nov-breadcrumb nov-patent-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="nov-nov-breadcrumb-inner">
                    <div class="nov-nov-breadcrumb-inner-element">
                        <h2>Services</h2>
                        <p>Home<span class="fa fa-angle-double-right"></span>Services</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="nov-board z-index">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-section-title">
                    <h1>Services</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h3>Commercial Assessment</h3>
                        <br>
                        <h4>Evaluation of the global commercial potential for each of our clients’ innovations including input from key opinion leaders in the relevant field</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h3>Patent Assessment</h3>
                        <br>
                        <h4>Evaluation of the validity, freedom to operate and enforceability of our client’s patent portfolio related to each innovation</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h3>Regulatory/Clinical Matters</h3>
                        <br>
                        <h4>Assessment of any governmental regulatory requirements surrounding each innovation and the likelihood of successful compliance with any such regulations.</h4>
                        <br>
                        <h4>Review and evaluation of any clinical information related to our client’s innovation if applicable.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h3>Partnership Arrangements</h3>
                        <br>
                        <h4>Identification and approach to strategic partners likely to be interested in our clients’ innovations</h4>
                        <br>
                        <h4>Assistance to each potential, strategic partner in their evaluation (“due diligence”) of our clients’ innovations</h4>
                        <br>
                        <h4>Preparation and negotiation of all legal documentation necessary to complete the transaction (license, asset purchase, other transaction structures) with the selected strategic partner</h4>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
<%- include('./include/page/foot.ejs')%>
</body>
</html>