<%- include('./include/page/head.ejs',{title:'Team'})%>
<body>
<%- include('./include/page/menu.ejs')%>
<section class="nov-breadcrumb nov-team-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="nov-breadcrumb-inner">
                    <div class="nov-breadcrumb-inner-element">
                        <h2>Team</h2>
                        <p>Home<span class="fa fa-angle-double-right"></span>Team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="nov-board z-index">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-section-title">
                    <h1>Team</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4><i class="fa fa-user-circle"></i> Charlie Arena</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4><i class="fa fa-user-circle"></i> Doug Hager</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <a href="/team/frankgrams">
                    <div class="nov-board-solo">
                        <div style="text-align:left;" class="nov-board-solo-element">
                            <h4><i class="fa fa-user-circle"></i> Frank Grams</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4><i class="fa fa-user-circle"></i> Paul Fehlner</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4><i class="fa fa-user-circle"></i> Susan Koppy</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4><i class="fa fa-user-circle"></i> Gary Connors</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4><i class="fa fa-user-circle"></i> Denis Polyn</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="nov-board-solo">
                    <div style="text-align:left;" class="nov-board-solo-element">
                        <h4><i class="fa fa-user-circle"></i> Toan Vo</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./include/page/foot.ejs')%>
</body>
</html>