<%- include('../include/head.ejs',{title:'Un-Authorized Access',scripts:false})%>
<body>
<div class="content">
    <div class= "bg-dark" id = "header"  style="padding:35px 50px;">
        <h4 class= "bg-dark" ><i class="fa fa-user-plus fa-lg" ></i>  Invite User</h4>
    </div>
    <div class="body" style="padding:40px 50px;">
        <form action="/dashboard" method="get">
            <div style="display:table; margin-left:auto; margin-right:auto;" class="form-group">
                <h3>Un-Authorized Accesss</h3>
                You have Attempted to Reach a perform an action or load a page that you do not have proper account permissions to access
                <button type="submit" class="btn btn-dark btn-block" ><span class="glyphicon glyphicon-off"></span>Home</button>
            </div>
        </form>
    </div>
</div>
<%- include('../include/foot.ejs')%>